[Unit]
Description=Decred Full Node

[Service]
Type=simple
User=hxd2
Group=hxd2
WorkingDirectory=/var/hxd2
ExecStart=/opt/hunjixin/bin/hxd2 --appdata=/var/hxd2
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
